/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

.btn, .btn:visited {
	display:inline-block;
	position:relative;
	font-family:$buttonfont;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
	color:$white;
	background-color:$meta-gray;
	font-size:1em;
	height:2.5em;
	line-height:2.5em;
	font-weight:bold;
	padding:0 1.5em;
	border-radius:1.25em;
	border:0;
	cursor:pointer;
	outline:none;
	@include transition(background-color $transition-speed ease-in-out);

	// hovering on the btn
	&:hover {
		color:$white;
		text-decoration:none;
		outline:none;
		background-color:darken($meta-gray, 10%);
	} // end hover

	// clicking on the button
	&:active {
		top: 1px; // adds a tiny hop to the click
	} // end active

} // end .button

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.btn-red, .btn-red:visited {
	background-color:$red;
	&:hover {
		background-color:darken($red, 10%);
	}
}
.btn-blue, .btn-blue:visited {
	background-color:$blue;
	&:hover {
		background-color:darken($blue, 10%);
	}
}
.btn-green, .btn-green:visited {
	background-color:$green;
	&:hover {
		background-color:darken($green, 10%);
	}
}
.btn-pink, .btn-pink:visited {
	background-color:$bones-pink;
	&:hover {
		background-color:darken($bones-pink, 10%);
	}
}
.btn-small {
	font-size:.75em;
}
.btn-large {
	font-size:1.25em;
}
.blue-btn {
  @extend .btn; // here we load the btn defaults
  background-color: $blue;

  &:hover,
  &:focus {
    background-color: darken($blue, 4%);
  } // end hover

  &:active {
    background-color: darken($blue, 5%);
  } // end active

} // end blue button
