/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
html {
	&.theme-dark, &.theme-deep-rose {
		.main-nav-container {
			background:transparent;
		}
		.main-menu {
			background:transparent;
			li {
				a {
					&:hover {
						border-bottom-color:$border-color-theme-dark;
					}
				}
			}
		}
	}
}

.wrap {
}
/*********************
NAVIGATION STYLES
*********************/

.main-nav-container {
	float:right;
	position:static;
	background:none;
	width:auto;
	height:auto;
	padding-top:$logo-top-padding;
}
.main-menu {
	border: 0;
	overflow:visible;
	background:none;
	li {
		float: left;
		position: relative;
		a {
			border-bottom:0;
			border-color:transparent;
			@include transition(height $transition-speed, line-height $transition-speed, border $transition-speed);
			background:none;
			font-size:18px;
			height:$logo-height;
			line-height:$logo-height;
			padding:0 12px;
			&:hover {
				text-decoration:none;
				border-bottom:1px solid $border-color;
				html.secondary-scrolled & {
					background-color:rgba($black,.5);
				}
			}
		}
		li a {
			height:55px;
			line-height:55px;
		}
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border-top: 0;
			position: absolute;
			opacity: 0;
			@include transition(opacity .5s);
			height:0;
			overflow:hidden;
			z-index: 8999;
			li {
				a {
					padding-left:10px;
					border-right:0;
					display:block;
					border-top:1px solid rgba($white, .1);
				}
				ul {
					top:0;
					left:100%;
				}
			}
			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}
		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			opacity:1;
			height:auto;
		}
	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */
.trigger-nav {
	display:none;
}