/******************************************************************
Site Name:
Author:

Stylesheet: Tablet Landscape Stylsheet

******************************************************************/

#container {
	#content {
		padding-top:$logo-height + $logo-top-padding + $gutter1024;
	}
}
.wrap {
	margin:0 $gutter1024;
}

.thumb-list {
	margin-right:-1%;
	.thumb-item {
		margin-right:1%;
		width:24%;
		padding-bottom:24%;
		margin-bottom:1%;
	}
}

/******************************************
PAGE SPECIFIC STYLES
******************************************/
body.single-people {
	.article-header {
		//@include clearfix;
		border-top:1px solid $border-color;
	}
	.title-container {
		float:left;
		width:40%;
	}
	.image-container {
		padding:$gutter*.5 0 $gutter $gutter;
		float:right;
		width:60%;
		@include box-sizing;
	}
}