/******************************************************************
Site Name:
Author:

Stylesheet: Tablet Landscape Stylsheet

******************************************************************/
html {
	&.theme-dark, &.theme-deep-rose {
		.entry-content.has-content-secondary {
			.content-secondary {
				border-left-color:$border-color-theme-dark;
			}
		}
		body.home {
			.home-module-container {
				.home-module {
					border-left-color:$border-color-theme-dark;
				}
			}
		}
		body.single-people {
			.article-header {
				border-top-color:$border-color-theme-dark;
			}
		}
	}
}
#container {
	#content {
		padding-top:$logo-height + $logo-top-padding + $gutter1024;
	}
}
.wrap {
	margin:0 $gutter1024;
}

.entry-content.has-content-secondary {
	display:flex;
	.content-primary {
		flex:0 0 60%;
		@include box-sizing;
		padding-right:$gutter1024;
		margin-bottom:0;
	}
	.content-secondary {
		flex:0 0 40%;
		@include box-sizing;
		padding-left:$gutter1024;
		border-left:1px solid $border-color;
	}
	.thumb-list {
		margin-right:-1.33%;
		.thumb-item {
			margin-right:1.33%;
			margin-bottom:1.33%;
			width:32%;
			padding-bottom:32%;
		}
	}
}
.thumb-list {
	margin-right:-1%;
	.thumb-item {
		margin-right:1%;
		width:24%;
		padding-bottom:24%;
		margin-bottom:1%;
	}
}
.modules {
	.module {
		padding-bottom:$gutter1024;
		margin-bottom:$gutter1024;
	}
}

/******************************************
PAGE SPECIFIC STYLES
******************************************/
body.home {
	.home-module-container {
		display:flex;
		padding-bottom:$gutter1024;
		h2 {
			margin-bottom:$gutter;
		}
		.current-episode {
			padding:$gutter $gutter1024 0 0;
			margin-bottom:0;
			flex:0 0 60%;
			@include box-sizing;
		}
		.home-module {
			flex:0 0 40%;
			@include box-sizing;
			padding:$gutter 0 0 $gutter1024;
			border-left:1px solid $border-color;
		}
	}
}
body.single-people {
	.article-header {
		border-top:1px solid $border-color;
	}
	.title-container {
		float:left;
		width:40%;
	}
	.image-container {
		padding:$gutter*.5 0 $gutter $gutter;
		float:right;
		width:60%;
		@include box-sizing;
	}
}
body.single-seasons {
	.article-header {
		padding-bottom:$gutter1024;
	}
}
body.single-episodes {
	.article-header {
		margin-bottom:$gutter;
	}
}