/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/
html {
	&.scrolled {
		.header {
			height:$logo-heightScrolled + $logo-top-padding*2;
		}
		#logo {
			a {
				width:$logo-heightScrolled*4;
				height:$logo-heightScrolled;
			}
		}
		.main-menu {
			li {
				a {
					height:$logo-heightScrolled;
					line-height:$logo-heightScrolled;
				}
			}
		}
	}
	&.theme-dark, &.theme-deep-rose {
		body.home {
			.slider-list {
				.slider-item {
					padding:0 $gutter*.25;
				}
			}
		}
	}
	&.theme-sunset {
		#container {
			#content {
				padding-top:$logo-height1240 + $logo-top-padding*3 + $gutter;
			}
		}
		.header {
			height:$logo-height1240 + $logo-top-padding*3;
			width:1560px;
			background-image:radial-gradient(circle at bottom left, $sunset-light 1%,$sunset-tertiary 5%,$sunset-main 35%,$sunset-secondary 70%,$sunset-dark) !important;
			#inner-header {
				width:auto;
				height:100%;
				&:before {
					content:"";
					display:block;
					height:$logo-height1240;
					width:$logo-height1240*.715;
					position:absolute;
					left:$logo-height1240*-1 - $gutter;
					bottom:0;
					background:url(../images/pme-couple-theme-sunset.svg) no-repeat bottom left;
					background-size:cover;
				}
			}
		}
		#logo {
			margin-left:0;
			a {
				height:$logo-height1240;
			}
		}
		.main-nav-container {
			margin-right:-12px;
		}
		&.scrolled {
			#container {
				#content {
					padding-top:$logo-heightScrolled + $logo-top-padding*3 + $gutter;
				}
			}
			.header {
				height:$logo-heightScrolled + $logo-top-padding*3;
			}
			#logo {
				a {
					height:$logo-heightScrolled;
				}
			}
		}
	}
}

#container {
	#content {
		padding-top:$logo-height1240 + $logo-top-padding*2 + $gutter1024;
	}
}
.wrap {
	max-width:1200px;
	margin:0 auto;
}
.header {
	height:$logo-height1240 + $logo-top-padding*2;
}

#logo {
	margin:0;
	padding-top:10px;
	a {
		width:$logo-height1240*4;
		height:$logo-height1240; 
	}
}
.main-menu {
	li {
		a {
			height:$logo-height1240;
			line-height:$logo-height1240;
			font-size:18px;
		}
	}
}
.slider-list {
	.slider-item {
		width:20%;
		flex:0 0 20%;
	}
}
/******************************************
PAGE SPECIFIC STYLES
******************************************/
body.home {
	.slider-list {
		.slider-item {
			width:140px;
			flex:0 0 140px;
			padding:0 $gutter;
		}
	}
}