/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

#container {
	#content {
		padding-top:$logo-height1240 + $logo-top-padding + $gutter1024;
	}
}
.wrap {
	max-width:1200px;
	margin:0 auto;
}
.header {
	height:$logo-height1240 + $logo-top-padding;
}

#logo {
	margin:0;
	padding-top:10px;
	a {
		display:block;
		width:$logo-height1240*3;
		height:$logo-height1240;
		background:url(../images/bachelor-provo-logo.png) no-repeat;
		background-size:contain;
		text-indent:-9999px;
	}
}
.main-menu {
	li {
		a {
			height:$logo-height1240;
			line-height:$logo-height1240;
		}
	}
}