/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/
html {
	&.scrolled {
		.header {
			height:$logo-height + $logo-top-padding*2;
		}
		#logo {
			a {
				width:$logo-height*3;
				height:$logo-height;
			}
		}
		.main-menu {
			li {
				a {
					height:$logo-height;
					line-height:$logo-height;
				}
			}
		}
	}
	&.theme-dark {
		#logo {
			a {
				width:$logo-height1240*4;
			}
		}
	}
}

#container {
	#content {
		padding-top:$logo-height1240 + $logo-top-padding*2 + $gutter1024;
	}
}
.wrap {
	max-width:1200px;
	margin:0 auto;
}
.header {
	height:$logo-height1240 + $logo-top-padding*2;
}

#logo {
	margin:0;
	padding-top:10px;
	a {
		width:$logo-height1240*3;
		height:$logo-height1240; 
	}
}
.main-menu {
	li {
		a {
			height:$logo-height1240;
			line-height:$logo-height1240;
		}
	}
}