/******************************************************************
Site Name: 
Author: 

Stylesheet: Extra Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/
html {
	&.theme-sunset {
		#container {
			#content {
				padding-top:$logo-height1560 + $logo-top-padding*6 + $gutter;
				transition:padding-top $transition-speed;
			}
		}
		.header {
			height:$logo-height1560 + $logo-top-padding*6;
			width:100%;
		}
	}
}