/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

$gutter:16px;
$gutter768:24px;
$gutter1024:32px;
$logo-height:60px;
$logo-top-padding:10px;
$logo-heightScrolled:80px;
$logo-height1240:100px;
$logo-height1560:140px;
$footer-height:250px;

/*********************
GENERAL STYLES
*********************/
html {
	&.b-o-p {
		height:100%;
		margin-top:0 !important;
		overflow-x:hidden;
		background:$white;
	}
	&.theme-dark, &.theme-deep-rose {
		background:$black;
		&.scrolled {
			.header {
				background-image:none;
				background-color:rgba($black,.9);
			}
		}
		body {
			color:$text-color-theme-dark;
			background-color:$black;
		}
		#container {
			#content {
				background:$black url(../images/gray-dark-grunge.png);
			}
		}
		.header {
			@include linear-gradient($black, rgba($black,0));
			background-color:transparent;
		}
		#logo {
			a {
				background-image:url(../images/pme-logo-horiz-theme-dark.png);
			}
		}
		.main-nav-container {
			background-color:$black;
		}
		.main-menu {
			background-color:rgba($black, .9);
			border-top-color:rgba($white, .1);
			li {
				a {
					color:$white;
					border-bottom-color:rgba($white, .1);
					background-color:transparent;
					&:hover {
						color:$white;
					}
				}
			}
		}
		.trigger-nav {
			color:$black;
			.ic {
				& > span {
					background-color:$white;
				}
			}
			&.active {
				.ic {
					& > span {
						background-color:#white;
					}
				}
			}
		}
		.thumb-list {
			.thumb-item {
				background:$black;
			}
		}
		.episode-list {
			& > li {
				border-bottom-color:$border-color-theme-dark;
			}
			
		}
		.slider-list {
			.slider-item {
				padding:0 $gutter*.25 $gutter*.5;
			}
		}
		.modules .module, .widget {
			border-bottom-color:$border-color-theme-dark;
		}
		.coming-soon {
			background:rgba($white,.05);
		}
		.contact-form-container {
			border-color:$border-color-theme-dark;
			position:relative;
			& > * {
				position:relative;
				z-index:1;
			}
			&:after {
				content:"";
				position:absolute;
				left:0;
				top:0;
				height:100%;
				width:100%;
				background-image:url(../images/gray-dark-grunge.jpg);
				opacity:.85;
			}
			.instructions {
				border-top-color:1px solid $border-color-theme-dark;
			}
		}
		.footer {
			background-image:url(../images/gray-dark-grunge.png), linear-gradient(lighten($black,10%),$black);
			//background:lighten($black,10%) url(../images/gray-dark-grunge.png);
			color:$meta-gray;
			.social {
				.svg-container {
					svg {
						fill:darken($meta-gray,20%);
					}
					&:hover {
						svg {
							fill:$meta-gray;
						}
					}
				}
			}
		}
		.footer-links {
			ul {
				li {
					a {
						color:$meta-gray;
						&:hover {
							color:$white;
						}
					}
				}
			}
		}
		body.home {
			.content-primary {
				border-bottom-color:$border-color-theme-dark;
			}
			.sponsor-container {
				h2 {
					color:$border-color-theme-dark;
					border-color:$border-color-theme-dark;
				}
			}
			.slider-list {
				border-bottom-color:$border-color-theme-dark;
			}
		}
		body.single-people {
			h1 {
				border-bottom-color:$border-color-theme-dark;
			}
		}
		body.single-seasons {
			.article-header {
				border-bottom-color:$border-color-theme-dark;
			}
		}
		body.single-episodes {
			.article-header {
				border-bottom-color:$border-color-theme-dark;
			}
		}
	}
	&.theme-deep-rose {
		#container {
			#content {
				background-image:url(../images/dark-grunge.png), linear-gradient($deep-rose,lighten($deep-rose,3%),darken($deep-rose,3%));
				background-color:transparent;
			}
		}
		.footer {
			background-image:linear-gradient(darken($deep-rose,1%),darken($deep-rose,3%));
			color:darken($bones-pink, 30%);
			.social {
				.svg-container {
					svg {
						fill:darken($bones-pink,30%);
					}
					&:hover {
						svg {
							fill:darken($bones-pink,20%);
						}
					}
				}
			}
		}
		.footer-links {
			border-color:rgba($bones-pink,.15);
			ul {
				li {
					a {
						color:darken($bones-pink,20%);
						border-color:rgba($bones-pink,.15);
						&:hover {
							color:$bones-pink;
						}
					}
				}
			}
		}
	}
	&.theme-sunset {
		#container {
			#content {
				background-image:url(../images/dark-grunge.png), linear-gradient($sunset-dark 15%,rgba($sunset-main,.35),rgba($sunset-secondary,.35),$sunset-dark);
				background-color:$black;
				padding-top:$logo-heightScrolled + $logo-top-padding*3 + $gutter;
			}
		}
		.header {
			height:$logo-heightScrolled + $logo-top-padding*3;
			background-image:radial-gradient(circle at bottom left, $sunset-light 2%,$sunset-tertiary 10%,$sunset-main 35%,$sunset-secondary 70%,$sunset-dark) !important;
			transition:height $transition-speed, padding-top $transition-speed;
			&:before {
				content:"";
				display:block;
				position:absolute;
				bottom:-1px;
				left:-1%;
				width:102%;
				height:100%;
				background:url(../images/pme-terrain-theme-sunset.svg) no-repeat;
				background-position:left bottom;
				background-size:100% auto;
			}
			&:after {
				content:"";
				display:block;
				position:absolute;
				bottom:-30px;
				left:0;
				width:100%;
				height:30px;
				background:linear-gradient($sunset-dark,rgba($sunset-dark,0));
			}
			#inner-header {
				position:relative;
				z-index:1;
			}
		}
		#logo {
			padding:$logo-top-padding 0 $logo-top-padding*2;
			float:none;
			a {
				background-image:url(../images/pme-logo-theme-sunset.svg);
				background-position:center top;
				height:$logo-heightScrolled;
				margin:0 auto;
			}
		}
		a {
			color:lighten($sunset-main, 10%);
		}
		&.mobile-nav-active {
			.header {
				background:$sunset-dark !important;
				&:after {
					content:normal;
				}
			}
		}
		.pagination {
			ul {
				background-color:$sunset-secondary;
				background-image:linear-gradient(darken($sunset-main,10%),darken($sunset-main,30%));
			}
			li {
				border-right-color:rgba($sunset-secondary,.3);
			}
			.current, .current:hover {
				color:$sunset-dark;
				background:transparent;
			}
			a, span {
				font-weight:900;
			}
			a:hover, a:focus {
				background-color:$sunset-main;
				background-image:linear-gradient($sunset-main,darken($sunset-main,20%));
			}
		}
		.footer {
			background-image:linear-gradient(darken($sunset-main,22%),darken($sunset-secondary,25%));
			color:darken($sunset-main, 30%);
			.social {
				.svg-container {
					svg {
						fill:darken($sunset-main,7.5%);
					}
					&:hover {
						svg {
							fill:$sunset-main;
						}
					}
				}
			}
			.footer-logo {
				a {
					background-image:url(../images/pme-logo-theme-sunset.svg);
					height:50px;
					margin-bottom:10px;
				}
			}
		}
		.footer-links {
			border-color:rgba($sunset-main,.25);
			ul {
				li {
					a {
						color:$sunset-main;
						border-color:rgba($sunset-main,.15);
						&:hover {
							color:lighten($sunset-main,10%);
						}
					}
				}
			}
		}
		.copyright {
			color:darken($sunset-main,10%);
			top:45%;
		}
	}
	&.mobile-nav-active {
		body {
			overflow:hidden;
			height:100%;
			header.header, #inner-header {
				height:100%;
			}
			#inner-header {
				position:relative;
				overflow-y:auto;
				overflow-x:hidden;
			}
		}
	}
	/*&:after {
		content:"";
		height:100%;
		width:100%;
		background:url(../images/bg-body.png);
		opacity:.6;
		position:absolute;
		top:0;
		left:0;
	}*/
}

body {
	height:100%;
	font-family:$bodyfont;
	font-size:$gutter;
	line-height:1.4;
	color:$text-color;
	background-color:$white;
  	-webkit-font-smoothing:antialiased;
  	-moz-osx-font-smoothing:grayscale;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/
#container {
	position:relative;
	z-index:1;
	height:100%;
	#content {
		background:$white;
		min-height:100%;
		padding-top:$logo-height + $logo-top-padding*2 + $gutter;
		@include box-sizing;
		margin-bottom:$footer-height;
		position:relative;
		z-index:1;
		/* stupid spacer for iphones */
		&:after {
			content:"";
			position:absolute;
			width:1px;
			height:$footer-height;
			left:0;
			bottom:$footer-height*-1;
		}
	}
}
#main {
	margin-bottom:$gutter;
}
.wrap {
	margin:0 $gutter;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color:$link-color;
	transition:color $transition-speed;

	/* on hover */
	&:hover {
		color:$link-hover;
	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight:900;
	margin-top:0;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.5em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}
p, ul, ol {
	margin-top:0;
}

/*********************
HEADER STYLES
*********************/

.header {
	position:fixed;
	z-index:9990;
	background:rgba($white,.9);
	top:0;
	left:0;
	width:100%;
	height:$logo-height + $logo-top-padding*2;
}

#logo {
	float:left;
	margin:0;
	padding:$logo-top-padding 0;
	a {
		outline:none;
		display:block;
		width:$logo-height*4;
		height:$logo-height;
		background:url(../images/pme-logo-horiz-theme-light.png) no-repeat;
		background-size:contain;
		background-position:left center;
		text-indent:-9999px;
		transition:height $transition-speed, width $transition-speed;
	}
}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display:block;
			color:$black;
			text-decoration:none;
			padding:0.75em;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {
			li {
				a {
				}
			}
		}
	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */
.main-nav-container {
	position:absolute;
	left:110%;
	top:0;
	width:100%;
	background:$white;
	height:100%;
	@include transition(left .35s);
	&.active {
		left:0;
	}
	& > h5 {
		height:60px;
		line-height:60px;
		text-align:center;
		margin-bottom:0;
	}
}
.main-menu {
	border-bottom: 0;
	margin: 0;
	overflow:auto;
	z-index:9998;
	background:rgba($white, .9);
	border-top:1px solid rgba($black, .1);
	li {
		a {
			outline:0;
			padding:0;
			height:$logo-height;
			line-height:$logo-height;
			text-transform:uppercase;
			color:$black;
			font-size:1em;
			font-weight:bold;
			white-space:nowrap;
			border-bottom:1px solid rgba($black, .1);
			background:rgba($white,.04);
			&:hover {
				color:$black;
			}
		}
	}
}
.trigger-nav {
	height:50px;
	margin-right:8px;
	color:$white;
	position:fixed;
	padding:13px;
	top:7px;
	right:-4px;
	font-size:17px;
	z-index:9999;
	border-bottom:0;
	outline:none !important;
	@include box-sizing;
	@include transition(top .275ms);
	&.active {
		@include box-sizing;
	}
	& > span {
		float:left;
		height:24px;
		line-height:24px;
	}
	.ic {
		@include box-sizing;
		padding-top:5px;
		@include transition(all 275ms);
		& > span {
			background:$black;
			@include border-radius(1px);
			display:block;
			height:2px;
			margin-bottom:4px;
			@include transition(all 275ms);
			width:22px;
		}
	}
	&.active {
		.ic {
			@include transform(rotate(-45deg));
			& > span {
				background:#aaa;
				&.bar-1 {
					@include transform(translateY(6px));
				}
				&.bar-2 {
					opacity:0;
				}
				&.bar-3 {
					@include transform(rotate(-90deg) translateX(6px));
				}
			}
		}
	}
}


/*********************
POSTS & CONTENT STYLES
*********************/
.hentry {

	header {
	}

	footer {

		p {
			margin: 0;
		}
	}

} /* end .hentry */

.single-title,
.entry-title {
	margin: 0;
}
.page-title {
	margin:0 0 $gutter;
}

.single-title {}

.page-title {}

.entry-title {}

.archive-title {}

/* want to style individual post classes? Booya! */
.post-id {}         /* post by id (i.e. post-3) */
.post {}            /* general post style */
.page {}            /* general article on a page style */
.attachment {}      /* general style on an attatchment */
.sticky {}          /* sticky post style */
.hentry {}          /* hentry class */
.category-slug {}   /* style by category (i.e. category-videos) */
.tag-slug {}        /* style by tag (i.e. tag-news) */

/* post meta */
.byline {
	color: $meta-gray;
	font-style: italic;
	margin: 0;

	time {}
}

/* entry content */
.entry-content.has-content-secondary {
	.content-primary {
		margin-bottom:$gutter;
	}
}
.entry-content {

	p {
		margin: 0 0 1.5em;
	}


	ul, ol, table, dl {}

	ul, ol {

		li {}

	}

	ul {

		li {}

	}

	ol {

		li {}

	}

	table {
		width: 100%;
		border: 1px solid $gray;
		margin-bottom: 1.5em;

		caption {
			margin: 0 0 7px;
			font-size: 0.75em;
			color: $meta-gray;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	tr {
		border-bottom: 1px solid $gray;

		&:nth-child(even) {
			background-color: $light-gray;
		}
	}

	td {
		padding: 7px;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	th {
		background-color: $light-gray;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	blockquote {
		margin: 0 0 1.5em 0.75em;
		padding: 0 0 0 0.75em;
		border-left: 3px solid $blue;
		font-style: italic;
		color: $meta-gray;

		&:before {}

	}

	dl {}

	dt {}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	img {
		margin: 0 0 1.5em 0;
		max-width: 100%;
		height: auto;
	}

	/*
	image alignment on a screen this size may be
	a bit difficult. It's set to start aligning
	and floating images at the next breakpoint,
	but it's up to you. Feel free to change it up.
	*/
	.alignleft, img.alignleft {}
	.alignright, img.alignright {}
	.aligncenter, img.aligncenter {}

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: $black;
		color: $light-gray;
		font-size: 0.9em;
		padding: 1.5em;
		margin: 0 0 1.5em;
		border-radius: 3px;
	}

} /* end .entry-content */

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}

} /* end .wp-caption */

/* image gallery styles */
.gallery {

	dl {

		a {}

		img {}

	}

	dt {}

	dd {}

} /* end .gallery */

/* gallery caption styles */
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

// the tag output
.tags {
	margin: 0;
}

.thumb-list {
	@include clearfix;
	margin-right:-2%;
	.thumb-row {
		clear:left;
		margin-bottom:$gutter;
		@include clearfix;
	}
	.thumb-item {
		margin-right:2%;
		width:48%;
		float:left;
		position:relative;
		padding-bottom:48%;
		margin-bottom:2%;
		background:$white;
		&.retired {
			.image-container {
				opacity:.4;
			}
			& > a {
				.person-info {
					@include linear-gradient(rgba($black,0),rgba($black,.7));
				}
			}
		}
		& > a {
			display:block;
			position:absolute;
			top:0;
			left:0;
			height:100%;
			width:100%;
			color:$white;
			overflow:hidden;
			&:hover {
				.image-container {
					transform:scale(1.2);
					opacity:1;
				}
				.sponsor-name {
					opacity:1;
				}
			}
			.image-container {
				display:block;
				transition:all $transition-speed;
			}
			img {
				margin:0;
				display:block;
			}
			.person-info, .sponsor-name {
				position:absolute;
				left:0;
				bottom:0;
				width:100%;
				@include linear-gradient(rgba($black,0),rgba($black,1));
				padding:12% 4% 4%;
				text-shadow:0 2px 2px rgba($black,.5);
			}
			.person-info {
				span {
					display:block;
				}
				.person-name {
					font-size:.8em;
					font-weight:bold;
				}
				.person-type {
					font-size:.75em;
				}
			}
			.sponsor-name {
				text-align:center;
				font-size:.75em;
				text-transform:uppercase;
				line-height:1em;
				opacity:0;
				transition:opacity $transition-speed;
			}
		}
	}
}
.crew-list, .has-content-secondary .crew-list {
	h2 {
		margin-bottom:$gutter*2;
	}
	h3 {
		margin-bottom:$gutter*.5;
	}/*
	.thumb-list {
		margin-bottom:$gutter;
		margin-right:-1.33%;
		.thumb-item {
			margin-right:1.33%;
			width:32%;
			padding-bottom:32%;
			margin-bottom:1.33%;
		}
	}*/
}
.episode-list {
	& > li {
		display:flex;
		padding-bottom:$gutter;
		border-bottom:1px solid $border-color;
		margin-bottom:$gutter;
	}
	.image-container {
		max-width:400px;
		flex:0 0 40%;
		@include box-sizing;
		padding-right:$gutter;
		img {
			display:block;
			margin-bottom:0;
		}
	}
	
}
.slider-list {
	margin-bottom:$gutter;
	padding-bottom:$gutter;
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
	.slider-item {
		width:50%;
		flex:0 0 50%;
		padding:0 $gutter $gutter;
		a {
			position:relative;
			display:block;
			&:hover {
				.slider-item-title {
					opacity:1;
				}
			}
			img {
				display:block;
				margin:0;
			}
		}
	}
	.slider-item-title {
		position:absolute;
		width:100%;
		bottom:0;
		left:0;
		text-align:center;
		font-size:.75em;
		text-transform:uppercase;
		background-image:linear-gradient(rgba($black,0),rgba($black, 1));
		padding:$gutter $gutter*.5 $gutter*.5;
		color:$white;
		line-height:1em;
		opacity:0;
		transition:opacity $transition-speed;
	}
}
.modules {
	.module {
		@include clearfix;
		padding-bottom:$gutter;
		border-bottom:1px solid $border-color;
		margin-bottom:$gutter;
	}
}
.module-content {
	@include clearfix;
}
.widget {
	padding-bottom:$gutter;
	border-bottom:1px solid $border-color;
	margin-bottom:$gutter;
}
.video-outer-wrapper {
	margin-bottom:1.5em;
}
.video-container {
	width:100%;
	padding-bottom:56.25%;
	position:relative;
	& > iframe {
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
	}
}
.coming-soon {
	padding-bottom:56.25%;
	position:relative;
	background:$border-color;
	&:after {
		content:"Coming Soon!";
		display:block;
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		font-weight:bold;
		text-transform:uppercase;
	}
}
.contact-form-container {
	max-width:600px;
	margin:$gutter*2 auto;
	border:1px solid $border-color;
	padding:$gutter*1.5 $gutter*2;
	.instructions {
		font-size:.8em;
		line-height:1.2em;
		display:block;
		margin-top:$gutter*.5;
		padding-top:$gutter*.5;
		border-top:1px solid $border-color;
	}
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/
.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
.pagination{
    text-align: center;
	ul {
		display: inline-block;
		background-color: $white;
		white-space: nowrap;
		padding: 0;
		clear: both;
		border-radius: 3px;
		overflow:hidden;
	}
	li {
		padding: 0;
		margin: 0;
		float: left;
		display:inline;
		overflow: hidden;
		border-right:1px solid $gray;
	}
	a, span {
		margin: 0;
		text-decoration: none;
		padding: 0;
		line-height: 1em;
		font-size: 1em;
		font-weight: normal;
		padding: 0.75em;
		min-width: 1em;
		display: block;
		color: $blue;
		&:hover, &:focus {
			background-color: $blue;
			color: $white;
		}
	}
	.current{
		cursor: default;
		color: $text-color;

		&:hover, &:focus {
			background-color: $white;
			color: $text-color;
		}
	}

} /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	color:$gray;
	background:$meta-gray;
	overflow:hidden;
	height:$footer-height;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	z-index:-1;
	.footer-logo {
		a {
			display:block;
			text-indent:-9999px;
			background:url(../images/pme-logo-horiz-theme-dark.png) no-repeat;
			background-size:contain;
			height:$logo-height*.75;
			width:$logo-height*3;
		}
	}
	.social {
		text-align:center;
		.svg-container {
			outline:0;
			margin:0 $gutter*.5;
			display:inline-block;
			width:$gutter*3;
			height:$gutter*3;
			&:hover {
				svg {
					fill:$white;
				}
			}
			svg {
				fill:$gray;
				transition:fill $transition-speed;
			}
		}
	}
}
#inner-footer {
	height:100%;
	padding:$gutter 0;
	@include box-sizing;
}
.footer-links {
	border-bottom:1px solid $border-color-theme-dark;
	ul {
		padding-bottom:$gutter*.5;
		display:flex;
		li {
			a {
				padding:$gutter*.75 $gutter;
				border-left:1px solid $border-color-theme-dark;
				color:$gray;
				text-transform:uppercase;
				&:hover {
					color:$white;
				}
			}
			&:first-child a {
				padding-left:0;
				border:0;
			}
			&:last-child a {
				padding-right:0;
			}
		}
	}
} /* end .footer-links */


.copyright {
	font-size:.75em;
	margin-bottom:0;
	@include v-center;
}
/******************************************
ADMIN BAR CUSTOMIZATION
******************************************/
@keyframes wpadminbarHide {
	0% {
		@include transform(translateY(0));
	}
	100% {
		@include transform(translateY(-97%));
	}
}
html body {
	div#wpadminbar {
		border-bottom:1px solid #444;
		z-index:9999 !important;
		animation-name: wpadminbarHide;
		animation-iteration-count:1;
		animation-timing-function:ease-out;
		animation-duration:2s;
		@include transform(translateY(-97%));
		@include transition(transform, 1s);
		&:before {
			content:"";
			display:block;
			position:absolute;
			left:0;
			bottom:-15px;
			height:15px;
			width:31px;
			text-indent:-9999px;
			@include box-sizing;
			background:#23282d;
			/*@include css-gradient($from: #23282d, $to: #353d44, $vstart:"top", $vend:"bottom");*/
			@include border-radius(0 0 5px 5px);
			border:1px solid #444;
			border-top:0;
			border-left-color:#333;
			cursor:pointer;
		}
		&:after {
			content:"";
			border-style:solid;
			border-color:#555 transparent;
			border-width:5px 5px 0;
			position:absolute;
			margin-left:-5px;
			left:15px;
			bottom:-9px;
			cursor:pointer;
		}
		&.wpadminbar-shown {
			& > .wpadminbar-activator {
				display:none;
			}
		}
		&:hover {
			border-bottom:1px solid #444;
			@include transform(translateY(0));
		}
		&.hidden {
			border-bottom:2px solid transparent;
			@include transform(translateY(-97%));
			@include transition(transform, 2s);
		}
	}
	&.hide-admin-bar {
		div#wpadminbar {
			display:none;
		}
	}
}

	
/******************************************
PAGE SPECIFIC STYLES
******************************************/
body.home {
	.content-primary {
		margin-bottom:$gutter;
		/*border-bottom:1px solid $border-color;
		padding-bottom:$gutter;*/
	}
	.home-module-container {
		.current-episode {
			margin-bottom:$gutter;
		}
	}
	.sponsor-container {
		padding-top:$gutter;
		h2 {
			border-bottom:1px solid $border-color;
			border-top:1px solid $border-color;
			text-transform:uppercase;
			font-size:.75em;
			text-align:center;
			font-weight:normal;
			color:$border-color;
			margin-bottom:$gutter;
		}
	}
	.slider-list {
		border-bottom:1px solid $border-color;
		.slider-item {
			padding-bottom:0;
			width:100px;
			flex:0 0 100px;
		}
	}
}
body.single-people {
	h1 {
		border-bottom:1px solid $border-color;
		margin-bottom:$gutter*.5;
	}
	.byline {
		margin-bottom:$gutter;
		td {
			vertical-align:baseline;
		}
		td:first-child {
			padding-right:$gutter*.25;
			font-size:.75em;
			text-transform:uppercase;
		}
		td:last-child {
			font-weight:bold;
			text-transform:none;
			font-size:inherit;
		}
	}
	.image-container {
		margin-bottom:$gutter;
		img {
			display:block;
			width:100%;
			// max-width:400px;
		}
	}
}
body.single-seasons {
	.article-header {
		border-bottom:1px solid $border-color;
		margin-bottom:$gutter;
	}
}
body.single-episodes {
	.article-header {
		@include clearfix;
		border-bottom:1px solid $border-color;
		margin-bottom:$gutter*.5;
		.single-title {
			float:left;
		}
		.breadcrumb {
			float:right;
			height:2.66em;
			line-height:2.66em;
			a {
				position:relative;
				display:inline-block;
				text-decoration:none;
				text-transform:uppercase;
				font-size:.75em;
				padding-left:14px;
				@include tri-before(left, 5px, 10px, $link-color);
				&:before {
					position:absolute;
					left:0;
				}
			}
		}
	}
	.episode-description {
		margin-top:$gutter;
	}
}
body.blog {
	article.post {
		& > .image-container {
			margin-bottom:$gutter;
			a {
				display:block;
				outline:0;
			}
			img {
				display:block;
				width:100%;
				max-width:400px;
			}
		}
	}
}